<script id="elb-tabpane-template" type="text/template">
<h4 class="page-header">{{physical_id}}</h4>

<h5>Instances</h5>

<table class="table table-condensed table-striped" v-repeat="e: ec2_instances">
  <caption v-text="e.instance_id"></caption>

  <thead>
    <tr>
      <th><%= t 'infrastructures.genre' %></th>
      <th colspan="2"><%= t 'common.value' %></th>
    </tr>
  </thead>

  <tbody>
    <tr v-repeat="e">
      <td>{{$key | capitalize}}</td>
      <td>{{$value}}</td>
    </tr>
  </tbody>
</table>
</script>
