<table class="table table-condensed" style="border-collapse:collapse;">
  <thead>
    <tr>
      <th :class="{active: sortKey == 'users.email'}" @click="sortBy('users.email')">
        <span>Operator</span>
        <span class="pull-right glyphicon" :class="sortOrders['users.email'] > 0? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span>
      </th>
      <th :class="{active: sortKey == 'infrastructure_logs.status'}" @click="sortBy('infrastructure_logs.status')">
        <span>Status</span>
        <span class="pull-right glyphicon" :class="sortOrders['infrastructure_logs.status'] > 0? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span>
      </th>
      <th :class="{active: sortKey == 'infrastructure_logs.details'}" @click="sortBy('infrastructure_logs.details')">
        <span>Details</span>
        <span class="pull-right glyphicon" :class="sortOrders['infrastructure_logs.details'] > 0? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span>
      </th>
      <th :class="{active: sortKey == 'infrastructure_logs.created_at'}" @click="sortBy('infrastructure_logs.created_at')">
        <span>at</span>
        <span class="pull-right glyphicon" :class="sortOrders['infrastructure_logs.created_at'] > 0? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span>
      </th>
    </tr>
  </thead>
  <tbody v-for="log in logs" class="tbody-infra-log">
    <tr>
      <td><span v-if="log.admin" class="label label-info">admin</span>&nbsp;{{log.email}}</td>
      <td><span :class="status_class(log.status)" v-text="status_text(log.status)" class="label"></span></td>
      <td>{{log.title}}<a v-if="log.long" href="#" data-toggle="collapse" data-target="#logbody-{{log.id}}" class="accordion-toggle popovermore">...see all </a></td>
      <td v-text="toLocaleString(log.created_at)"></td>
    </tr>
    <tr v-if="log.long">
      <td colspan="4" class="hidden-row">
        <div class="accordion-body collapse" id="logbody-{{log.id}}">
          <%= copy_to_clipboard_button('log.details', 'pull-right') %><pre class="terminal-ansi" style="margin: 5px" v-html="ansi_up(log.details)"></pre>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<vue-paginator :page="page"></vue-paginator>
