<table class="table table-condensed" style="border-collapse:collapse;">
  <thead>
    <tr>
      <th>Operator</th>
      <th>Status</th>
      <th>Details</th>
      <th>at</th>
    </tr>
  </thead>
  <tbody v-for="log in logs" class="tbody-infra-log">
    <tr>
      <td><span v-if="log.admin" class="label label-info">admin</span>&nbsp;{{log.email}}</td>
      <td><span :class="status_class(log.status)" v-text="status_text(log.status)" class="label"></span></td>
      <td>{{log.title}}<a v-if="log.long" href="#" data-toggle="collapse" data-target="#logbody-{{log.id}}" class="accordion-toggle btn btn-xs btn-link popovermore">...see all </a></td>
      <td v-text="toLocaleString(log.created_at)"></td>
    </tr>
    <tr v-if="log.long">
      <td colspan="4" class="hidden-row">
        <div class="accordion-body collapse" id="logbody-{{log.id}}">
          <div style="margin: 5px" autofocus v-ace="log.details" :mode="mode" :theme="theme" :options="options" name="description" id="add_modify_value"></div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<vue-paginator :page="page"></vue-paginator>
