<h4> List of all Security Groups
  <small>
    <a href="#create_security_group_modal" data-toggle="modal" class="btn btn-primary">Create Security Group</a>
  </small>
</h4>


<%= render 'infrastructures/security_groups_table' %>
<%= render 'infrastructures/modal/create_security_group_modal' %>

