<h4> <%= t 'security_groups.list_all' %>
  <small>
    <a href="#create_security_group_modal" data-toggle="modal" class="btn btn-primary"><%= t 'security_groups.btn.create' %></a>
  </small>
</h4>


<%= render 'infrastructures/security_groups_table' %>
<%= render 'infrastructures/modal/create_security_group_modal' %>

