<h3 class="page-header">Serverspec <small>Operation Logs</small></h3>
<div class="col-sm-12">
  <table class="table">
    <thead>
      <tr>
        <th>Serverspec</th>
        <th>Resource</th>
        <th>Message</th>
        <th>Status</th>
        <th>Rundate</th>
      </tr>
    </thead>
    <tbody>
      <tr v-repeat="d: data">
        <td v-repeat="d" track-by="$index">
          <code v-if="$index === 2">{{$value}}</code>
          <text v-if="$index !== 2">{{$value}}</text>
        </td>
      </tr>
  </tbody>
  </table>
</div>
