<h3 class="page-header">Serverspec <small>Operation Logs</small></h3>
<div class="col-sm-12">
  <table class="table">
    <thead>
      <tr>
        <th>Resource</th>
      </tr>
    </thead>
    <tbody>
      <tr v-repeat="d: data">
        <td>{{d.physical_id}}</td>
      </tr>
  </tbody>
  </table>
</div>
