<h3 class="page-header">Serverspec <small>Operation Logs</small></h3>
<div class="col-sm-12">
  <table class="table">
    <thead>
      <tr>
        <th>Resource</th>
        <th>Serverspec</th>
        <th>Status</th>
        <th>Details</th>
        <th>Scheduled</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
      </tr>
      <tr>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
      </tr>
      <tr>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
      </tr>
  </tbody>
  </table>
</div>
