
<div class="row">
  <div class="span*">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th></th>
        <th colspan="3">Col1</th>
      </tr>
      <tr>
        <th></th>
        <th>Sub1</th>
        <th>Sub2</th>
        <th>Sub3</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th rowspan="3">Row1</th>
        <td>[-01234543333545]</td>
        <td>[4567]</td>
        <td>[1]</td>
      </tr>
      <tr>
        <td>[1]</td>
        <td>[456.789]</td>
        <td>[2]</td>
      </tr>
      <tr>
        <td>[0]</td>
        <td>[1]</td>
        <td>[0000789.0123]</td>
      </tr>
      <tr>
        <th rowspan="3">Row1</th>
        <td>[-01234543333545]</td>
        <td>[4567]</td>
        <td>[1]</td>
      </tr>
      <tr>
        <td>[1]</td>
        <td>[456.789]</td>
        <td>[2]</td>
      </tr>
      <tr>
        <td>[0]</td>
        <td>[1]</td>
        <td>[0000789.0123]</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
