<%# modal for change schedule %>
<div id="create_security_group_modal" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create Security Group</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label">Security Group Name</label>
          <input class="form-control" type="text" v-model="group_name">
        </div>
        <div class="form-group">
          <label class="control-label">Description</label>
          <input class="form-control" type="text" v-model="description">
        </div>
        <div class="form-group">
          <label class="control-label">Name</label>
          <input class="form-control" type="text" v-model="name">
        </div>
        <div class="form-group">
          <label class="control-label">VPC</label>
          <select class="form-control" v-model="vpc">
            <option v-for="v in vpcs | disp" v-bind:value="v.vpc_id">{{v}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <div v-if="!loading_s">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t('helpers.links.cancel') %></button>
          <button @click="detach_ec2()" data-dismiss="modal" class="btn btn-warning"><%= t('helpers.links.detach') %></button>
        </div>
        <div-loader v-if="loading_s"></div-loader>
      </div>
    </div>
  </div>
</div>
