<%# modal for change schedule %>
<div id="change-rules-modal" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header bg-info">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" v-if="lang === 'en'"> <%= t'security_groups.associated' %> {{physical_id}}</h4>
        <h4 class="modal-title" v-if="lang === 'ja'">{{physical_id}} <%= t'security_groups.associated' %> </h4>
      </div>

      <div class="modal-body">

        <table class="table table-condensed">
          <thead>
          <tr>
            <th width="20"></th>
            <th width="100">Security Group ID</th>
            <th>Security Group Name</th>
            <th>Description</th>
            <th>Name Tag</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="r in rules_summary" :class="{info: r.checked}" @click="check(r)">
            <td><input type="checkbox" v-model="r.checked"></td>
            <td>{{r.group_id}}</td>
            <td><div class="truncate"> {{r.group_name}}</div></td>
            <td><div class="truncate">{{r.description}}</div></td>
            <td v-if="r.tags[0].key === 'Name'">{{r.tags[0].value}}</td>
            <td v-else></td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <div v-if="!loading_s">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t('helpers.links.cancel') %></button>
          <button class="btn btn-primary" @click="submit_groups()" :disabled="!has_selected" data-dismiss="modal" aria-hidden="true" data-dismiss="{{has_selected ? 'modal' : ''}}">Assign Security Groups</button>
        </div>
        <div-loader v-if="loading_s"></div-loader>
      </div>
    </div>
  </div>
</div>

