<%# retention-policy modal %>
<div id="retention-policy-modal" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Retention Policy for {{volume_selected}}</h4>
      </div>

      <div class="modal-body">
        <fieldset>
          <div class="form-group">
            <div class="col-md-6">
              <label class="control-label" for="max_amount">
                <input v-model="enabled" type="checkbox">
                保持する最新のスナップショット数
              </label>
            </div>
            <div class="col-md-3">
              <input :disabled="!enabled" v-model="max_amount" class="form-control" id="max_amount" type="number" min="5">
            </div>
          </div>
<!--           <div class="form-group">
            <label class="control-label col-md-6" for="max_amount">いつから</label>
            <div class="col-md-3">
              <input :disabled="!enabled" v-model="max_amount" class="form-control" id="max_amount" type="number" min="1">日前
            </div>
          </div> -->
        </fieldset>
      </div>

      <div class="modal-footer">
        <div v-if="!loading">
          <button @click="save_retention_policy(volume_selected, enabled, max_amount)" class="btn btn-primary"><%= t('helpers.titles.save') %></button>
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t('helpers.links.close') %></button>
        </div>
        <div-loader v-if="loading"></div-loader>
      </div>
    </div>
  </div>
</div>
