<%# modal for register for known_hosts %>
<div id="register-for-known-hosts-modal" class="modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header bg-warning">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Register for known_hosts</h4>
      </div>

      <div class="modal-body">
        <h4 class="alert alert-warning"><%= glyphicon 'warning-sign' %> Warning</h4>
        <p>
          <%= t('ec2_instances.msg.register_for_known_hosts') %>
        </p>
      </div>

      <div class="modal-footer">
        <div v-if="!loading_s">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t('helpers.links.cancel') %></button>
          <button @click="register_for_known_hosts()" data-dismiss="modal" class="btn btn-primary">OK</button>
        </div>
        <div-loader v-else-if="loading_s"></div-loader>
      </div>
    </div>
  </div>
</div>
