version: '3'

services:
  app:
    build:
      context: ./amazonlinux2
      dockerfile: ./Dockerfile
    volumes:
      - ".:/prj/skyhopper:cached"
      - "./amazonlinux2/known_hosts:/root/.ssh/known_hosts:cached"
    environment:
      - REDIS_HOST=redis
      - REDIS_URL=redis://redis:6379/1
    ports:
      - 3000:3000
      - 3210:3210
    depends_on:
      - mysql
      - redis

  mysql:
    image: mysql:5.7
    volumes:
      - "./mysql:/var/lib/mysql:cached"
    environment:
      - MYSQL_ROOT_PASSWORD=password
    ports:
      - 3306:3306

  redis:
    image: redis:4
    ports:
      - 6379:6379
    volumes:
      - "./redis/data:/data"

  nginx:
    image: nginx:1.15
    ports:
      - 80:80
    volumes:
      - "./nginx/conf.d:/etc/nginx/conf.d:cached"
      - ".:/prj/skyhopper:cached"
    depends_on:
      - app
