<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">Resouce Name</h4>
  </div>
  <div class="panel-body">
    <%= parts_input(attributes: "id=\"resource-name\"") %>
  </div>
</div>

<%= accordion_resource_properties(@properties) %>