<div class="modal fade modal-large" id="instructions-here">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Instructions</h4>
      </div>
      <div class="modal-body" id="notification">
        <% @notifications_for_layout.try(:each)do |n| %>
          <%= create_notification(n.details, n.status, n.created_at) %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="close-notification-center">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
