<%# TODO: I18n %>
<form class="form-horizontal">
  <legend><%= t('app_settings.title.chef') %></legend>
  <div class="form-group">
    <label class="col-sm-3 control-label"><%= t 'app_settings.chef_server' %></label>
    <div class="col-sm-7">
      <button class="btn btn-primary" :disabled="!required_filed" @click="create()"><%= t 'app_settings.btn.create_chefserver' %></button>

      <%# Progress bar %>
      <div class="progress progress-striped active create-chefserver" id="progress-create-chefserver" style="display: none;">
        <div class="progress-bar" area-valuemin="0" area-valuemax="100" area-valuenow="0"></div>
      </div>
      <div class="alert alert-info create-chefserver" id="alert-create-chefserver" role="alert" style="display: none;"></div>
    </div>
  </div>
</form>
