<% provide(:title, "Zabbix Server") %>
<h1 class="page-header">Zabbix Server</h1>

<%= form_tag update_zabbix_app_settings_path, class: "form-horizontal", method: :post do %>
  <div class="form-group">
    <label for="zabbix_user", class="control-label col-sm-2">Username</label>
    <div class="col-sm-5">
      <input type="text" id="zabbix_user" name="zabbix_user" class="form-control" value="<%= @app_setting.zabbix_user %>" pattern="[^\s]+" required>
    </div>
  </div>

  <div class="form-group">
    <label for="zabbix_pass", class="control-label col-sm-2">Password</label>
    <div class="col-sm-5">
      <input type="password" id="zabbix_pass" name="zabbix_pass" class="form-control" value="<%= @app_setting.zabbix_pass %>" pattern="[^\s]+" required>
    </div>
  </div>

  <div class="form-actions-top">
    <button type="submit" class="btn btn-primary create"><%= t 'common.btn.submit' %></button>
  </div>
<% end %>
