<!-- modal for trigger setting -->
<div id="register-warning" class="modal fade",  tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t 'monitoring.before_reg_title' %></h4>
      </div>
      <div class="modal-body">

        <div class="col-md-12 col-sm-12">
          <form>
              <div class="checkbox" v-repeat="s: templates">
                  <label class="checkbox">
                        <input type="checkbox" v-on="click: checkVal()" v-model="s.checked" id="inputEmail3">{{s.name}}
                  </label>
              </div>
          </form>
        </div>

      <div class="modal-footer">
        <button v-on="click: create()" type="button" v-class="disabled: !has_selected" v-attr="disabled: !has_selected" class="btn btn-primary"  data-dismiss="{{has_selected ? 'modal' : ''}}"><%= t 'monitoring.btn.done' %></button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'monitoring.btn.cancel' %></button>
      </div>
    </div>
  </div>
</div>
</div>
