<!-- modal for trigger setting -->
<div id="register-warning" class="modal fade",  tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t 'monitoring.before_reg_title' %></h4>
      </div>
      <div class="modal-body">


        <div class="col-md-12 col-sm-12">
          <form>
            <div class="form-group" v-repeat="templates">
              <div class="col-sm-2">
                <input type="checkbox" value="{{$value}}" id="inputEmail3">
              </div>
              <label for="inputEmail3" class="col-sm-8 control-label">{{$value}}</label>
            </div>
          </form>
        </div>


      <div class="modal-footer">
        <button v-on="click: create()" type="button" class="btn btn-primary" data-dismiss="modal">Register</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
