<div class="panel panel-info">
  <div class="panel-heading">
    <button class="btn btn-danger pull-right btn-xs" v-on="click: $parent.removeIt(idx)"><span class="glyphicon glyphicon-remove"></span></button>
    <button class="btn btn-default pull-right btn-xs" v-on="click: accordionToggle"><span class="glyphicon glyphicon-chevron-down"></span></button>
    <h3 v-if="it.type === 'it'"  class="panel-title">{{it.matcher.name}}</h3>
    <h3 v-if="it.type === 'its'" class="panel-title">{{it.name}} {{it.matcher.name}}</h3>
  </div>

  <div class="panel-body collapse in">
    <div class="form-group" v-if="it.type === 'its'">
      <label>
        Name
        <input type="text" class="form-control" required v-model="it.name">
      </label>
    </div>

    <div class="form-group">
      <label>
        Matcher
        <input type="text" class="form-control" required v-model="it.matcher.name">
      </label>
    </div>

    <div class="form-group">
      <label>
        Should/Should not
        <input type="checkbox" class="form-control" v-model="it.should">
      </label>
    </div>

  </div>
</div>
