<% disabled = current_page.first? ? 'disabled' : nil %>

<li class="<%= disabled %>">
  <% if disabled %>
    <%= content_tag(:span, raw(t 'views.pagination.first'), class: 'pagination-move') %>
  <% else %>
    <%= link_to raw(t 'views.pagination.first'), url %>
  <% end %>
</li>
