<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container" id="vue-navbar-bottom">
    <a class="navbar-text btn btn-link btn-xs" href="http://www.skyarch.net/">&copy; 2013-2015 SKYARCH NETWORKS INC.</a>
<% if user_signed_in? %>
    <div class="navbar-text pull-right">
      <script id="toggle-button-template" type="text/template">
      <span v-show="state">
        <bootstrap-tooltip title="{{tooltip}}">
          <button class="btn btn-xs" v-attr="disabled: is_inprogress" v-on="click: toggle()" v-class="btn_class">
            <span v-class="blinking: is_inprogress" class="glyphicon glyphicon-off"></span>&nbsp;
            <span v-text="status_text"></span>
          </button>
        </bootstrap-tooltip>
      </span>
      </script>
    </div>
<% end %>
  </div>
</nav>
