<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-text btn btn-link btn-xs" href="http://www.skyarch.net/">&copy; 2013-2019 SKYARCH NETWORKS INC.</a>
      <span class="navbar-text btn-xs"><%= SkyHopper::Application.config.my_version %></span>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <% if user_signed_in? %>
          <div class="navbar-text pull-right">
            <script id="toggle-button-template" type="text/template">
            <span v-show="state">
              <bootstrap-tooltip :title="tooltip">
                <template slot="content">
                  <button class="btn btn-xs" :disabled="is_inprogress" @click="toggle()" :class="[btn_class]">
                    <span :class="{blinking: is_inprogress}" class="glyphicon glyphicon-off"></span>&nbsp;
                    <span v-text="status_text"></span>
                  </button>
                </template>
              </bootstrap-tooltip>
            </span>
            </script>
          </div>
      <% end %>

    </div>



  </div>
</nav>
