<% provide(:title, I18n.t('cf_templates.cf_template')+" | "+I18n.t('helpers.titles.new') ) %>
<div class="page-header">
  <h1><%= t('helpers.titles.new') %></h1>
</div>

<%= render partial: 'form' %>
